@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Sriracha&display=swap');

:root {
    --primary-color: #f1951a;
}

* {
    font-family: "Nunito", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F4F4F4;
}

html {
    display: flex;
    flex-direction: column;
}

.intro-container {
    display: flex;
    align-items: center;
    border: 2px solid red;
    margin: 3rem 5rem 0 5rem;
}

.intro-text-container {
    max-width: 40vw;
    max-height: 40vh;
    border: 2px solid red;
}

.intro-text-container h1 {
    padding: 0.5rem 0 0.5rem 0;
    font-weight: 800;
    font-size: 4rem;
}

.intro-text-container h3{
    font-size: 1.5rem;
}

.intro-text-container h4{
    font-size: 2rem;
}

.software-engineer-txt {
    color: var(--primary-color);
}

.resume-btn {
    padding: 0.5rem 2rem 0.5rem 2rem;
    border: none;
    border-radius: 2rem;
    margin: 1rem 0rem 0rem 0rem;
    cursor: pointer;
    box-shadow: 0 0 0.7rem black;
    background-color: var(--primary-color);
}

.resume-btn:hover {
    transform: scale(1.05), translate(-2.5%);
    transition: 0.2s ease-in-out;
    font-size: large;
}

.pfp-container {
    margin: 1rem 1rem 0 auto;
    border: 2px solid red;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.pfp-container img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
}

.project-container {
    border: 2px solid red;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.project {
    border: 2px solid black;
    margin: 1rem;
    aspect-ratio: 1 / 1;
}

.project ul{
    padding-left: 1.5rem;
}

.project-header {
    margin-top: 20%;
}

@media (max-width: 768px) {
    .project-container {
        flex-direction: column;
    }
}