@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Sriracha&display=swap');

:root {
    --primary-color: #f1951a;
}

* {
    font-family: "Nunito", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F4F4F4;
}

html {
    display: flex;
    flex-direction: column;
}

.intro-container {
    display: flex;
    align-items: center;
    margin: 3rem 5rem 3rem 5rem;
}



.intro-text-container {
    max-width: 450px;
}

.intro-text-container h1 {
    font-weight: 800;
    font-size: 4rem;
}

.intro-text-container h3{
    font-size: 1.5rem;
}

.intro-text-container h4{
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.software-engineer-txt {
    color: var(--primary-color);
}

.resume-btn {
    padding: 0.5rem 2rem 0.5rem 2rem;
    border: none;
    border-radius: 2rem;
    margin: 1rem 0rem 0rem 0rem;
    cursor: pointer;
    box-shadow: 0 0 0.7rem black;
    background-color: var(--primary-color);
}

.resume-btn:hover {
    transform: scale(1.05), translate(-2.5%);
    transition: 0.2s ease-in-out;
    font-size: large;
}

.pfp-container {
    margin: 1rem 1rem 0 auto;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.pfp-container img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
}

@media (max-width: 768px) {
    .project-container {
        flex-direction: column;
    }
}

.project-header {
    margin: 2rem 0rem 0rem 5rem;
}

.project-container {
    margin: 1rem 5rem 3rem 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.project {
    width: 30%;
    aspect-ratio: 4/5;
    border-radius: 1rem;
}

.project h3 {
    margin: 1rem;
}

.project * {
    background: transparent;
    margin: 1rem;
}

.movie-browser {
    background: linear-gradient(-45deg, #2E3192, #1BFFFF);
}

.stock-predictor {
    background: linear-gradient(-45deg, #662D8C, #ED1E79);
}

.temp-monitor {
    background: linear-gradient(-45deg, #11998E, #38EF7D);
}

@media (max-width: 900px) {
    .project-container {
        flex-direction: column;
        gap: 20px;
    }
    .project {
        width: 100%;
        max-width: 450px;
    }
}

@media (max-width: 500px) {
    .intro-container {
        margin: 1.5rem 2.5rem 0 2.5rem;
    }

    .project-header {
        margin: 2rem 0rem 0rem 2.5rem;
    }
    .project-container {
        margin: 1rem 2.5rem 3rem 2.5rem;
    }
}